services:
  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka-kraft
    network_mode: host

    environment:
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@127.0.0.1:9093"

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://<EC2_PRIVATE_IP>:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      KAFKA_CLUSTER_ID: "abcdefghijklmnopqrstuv"

      KAFKA_HEAP_OPTS: "-Xms2g -Xmx2g"

      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"

      KAFKA_LOG_DIRS: "/var/lib/kafka/data"

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "1"
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: "1"

      KAFKA_JMX_PORT: 9999

    volumes:
      - ./kafka_data_${KAFKA_PROFILE:-local}:/var/lib/kafka/data

    deploy:
      resources:
        limits:
          cpus: "1.5"
          memory: 3g
